[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "margaret"]
	path = margaret
	url = https://github.com/coreofscience/margaret
[submodule "tosr"]
	path = tosr
	url = https://github.com/coreofscience/tosr
