[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tosr"]
	path = tosr
	url = https://github.com/coreofscience/tosr
	shallow = true
	registered = true
